body {
  background-color: black;
}
h1 {
    color: white;
    padding-left: 100px;
}
h3 {
    color: white ;
    padding-left: 100px;
}
ul {
    background-color: black;
    color: rgb(110, 108, 105);
    padding-left: 100px;
}

div {
    margin: auto;
    margin-top: 100px;
    width: 700px;
    height: 700px;
    background-color: rgb(15, 15, 15);
    border-radius: 4%;
    font-size: x-large;
    color: white;
    text-align: center;
    padding: 20px;
}

footer{
    color: white;
    padding-top: 100px ;
}
#oppenheimer-img {
    width: 200px;
} 
img {
    width: 200px;

}