body {
  background-color: black;
}
h1 {
    color: white;
    padding-left: 100px;
    font-size: 90px;
}
h3 {
    color: white ;
    padding-left: 100px;
}
ul {
    background-color: black;
    color: rgb(110, 108, 105);
    padding-left: 100px;
    font-size: xx-large;
}

div {
    margin: auto;
    margin-top: 100px;
    width: 1000px;
    height: 1000px;
    background-color: rgb(15, 15, 15);
    border-radius: 4%;
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px;
}

footer{
    color: white;
    padding-top: 100px ;
}

img {
    width: 250px;

}
